# Défini toutes les services (images docker) nécéssaire au fonctionnement

services:


  database: # initialisation de la base de données
        image: postgres:16
        volumes:
          - postgres-data:/var/lib/postgresql/data
        environment:
          - POSTGRES_PASSWORD=logmein123
          - POSTGRES_DB=log_db



  backend:  # Déploiement du Backend "flask" construit à partir du dockerfile
          build:
            context: ./backend
          depends_on:
            - database

  web:  # Déploiement du Frontend construit a partir du dockerfile 
          build: ./frontend
          ports:
            - "3000:3000"
          environment:
            - DB_HOST=database
          depends_on:
            - backend

volumes:    # Volume pour que les données soient stockées et restent persistente 
       postgres-data:
