name: Docker Image CI

on:
  push:
    branches: [ "main", "TestBranch" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build /LogMeIn/simple-monitoring/backend --file Dockerfile --tag backend:$(date +%s) 
